*{
    margin: 0;
    padding: 0;
}

.header{
    min-height:100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/lemon.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2px;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 2;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position:relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration:none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;

}

body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    background-image: url(lemon.jpg);
}

.sign-up-form{
    width: 300px;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        background: rgb(220, 220, 170);
        opacity: 90%;
        outline: tan, none, 10px;
        padding: 30px;
        margin: 8% auto 0;
        text-align: center;
}

.sign-up-form h1{
    color: black;
    margin-bottom: 30px;
    font-family:Arial, Helvetica, sans-serif;
}

.search-h1{
    margin-bottom:40px;
    font-family:Arial, Helvetica, sans-serif;
    color:burlywood;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline:none;
}

.search-form{

}

button{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

button.submit-btn{
    background-color: burlywood;
    width: 150px;
    margin: auto;
    text-align:center;
    display:flex;
    justify-content: center;


}

.signup-btn{
    background-color: burlywood;
}

.fav-btn{
    background-color: burlywood;
}

a{
    text-decoration:none;
}

hr{
    height: 5px;
    border:none;
    border-radius: 10px;
    background: linear-gradient(to left, rgb(210, 128, 66),burlywood)
}

ol {
    padding: 50px;
    color:antiquewhite;
}

ul{
    list-style-type: circle;
    padding: 50px;
    color:antiquewhite;
}

ol li{
    margin-bottom: 5px;
    padding: 10px;
}


.search-label{
    text-decoration:solid;
    color: burlywood;
}

h3{
    text-decoration: underline;
    color:white;
    font-size: x-large;
}


h3.recipe-title{
    text-align:center;
    margin-bottom:20px;
}

.recipe-img{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
}

h4{
    margin-left:20px;
    text-decoration: underline;
    margin-top:20px;
    color:antiquewhite;
    font-size: larger;
}

h1.search-h1{
    text-align:center
}

.search-form{
    padding-left: 20%;
    padding-right:20%;
}

div .fav-title{
    text-align: center;
}

div .fav-image{
    display:flex;
    justify-content: center;
    align-items:center;
    padding-bottom:30px;
}

img{
    border: 5px solid burlywood;
    border-radius: 20px;
    margin-top: 10px;
}
