{% extends 'base.html' %}

{% block content %}
{% if g.user.id %}
    {% for recipe in favorited_recipes %}
        <h3>{{recipe.recipes.title}}</h3>
    {% endfor %}
    <!-- {% for recipe in recipes %}
    <div class="each-recipe">
        <div class="fav-title">
            <a href="/search/{{recipe.recipe_id}}">
                <h3>{{recipe.title}}</h3>
            </a>
        </div>
        <div class="fav-image">
            <a href="/search/{{recipe.recipe_id}}">
                <img src="{{ recipe.image_url }}">
            </a>
        </div>
    </div>
    {% endfor %} -->
{% endif %}
{% endblock %}

<!-- {% for recipe in favorited_recipes %}
    <h3>{recipe.recipes.title}</h3>
{% endfor %} -->
